@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,800|VT323&subset=latin-ext');

:root {
    
    /* TYPE-FAMILIES */
    
    --display:          "Major Mono Display", monospace;
    --body:             "Open Sans", sans-serif;
    --mono:             "VT323", monospace;
    
    /* TYPE-WEIGHTS */
    
    --regular:          400; /* Only for Open Sans */
    --bold:             800; /* Only for Open Sans */
    
    /* COLOR */
    
    --light-gray:       hsl(0, 0%, 95%);
    --medium-gray:      hsla(0,0%,50%,1);
    --dark-gray:        hsla(0,0%,35%,1);
    --text:             hsla(0,0%,0%,1);
    --contrast-color:   hsla(200,55%,65%,1);
    
    /* SHADOW */
    --box-shadow: .2em .2em .75em hsla(216, 100%, 0%, .1), 0 0 2em hsla(216, 100%, 0%, .1);
    
}

a {
    
    font-family: var(--body);
    text-decoration: none;
    font-weight: var(--bold);
    color: var(--text);
    
}

body {
    
    display: grid;
    grid-template-columns: 20em auto;
    grid-template-areas: 
        "nav main" ;
    grid-column-gap: 3em;
    font-family: var(--body);
    
}

code pre{
    
    background-color: var(--light-gray);
    font-family: var(--mono);
    border-radius: 1em;
    max-width: 80%;
    font-size:1.2em;
    width: auto;
    
}

h1 {
    
    font-family: var(--display);
    font-size: 2.5em;
    
}

h2, h3, h4, h5, h6 {
    
    font-family: var(--body);
    font-weight: var(--bold);
    
}

main {
    
    grid-area: main;
    max-width: 45em;
    
}

nav {
    
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: var(--box-shadow);
    margin: -.5em auto auto -.5em;
    padding: 1em;
    height: 100vh;
    max-width: 20em;
    background-color: white;
}

nav a {
    
    display: block;
    padding-top: 1em;
    
}

@media (max-width: 850px) {
    nav {
        
        width: 100vw;
        max-width: 100vw;
        height: auto;
        
    }
    
    nav a {
        
        display: inline;
        padding-top: 0;
        padding-right: 2em;
        line-height: 2em;
        
    }
    
    body {
        
        display: block;
        width: 85vw;
        margin: 15em auto 0 auto;
        
    }
    
}